@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies";
    var name = ViewBag.name;
}

<h2>
    <i class="bi bi-film"></i>
    Movies
</h2>

<hr />
<div style="display:inline; float: right;">
<form asp-action="search">

    <input placeholder="Search" name="name" class="form-control" style="width:150px" value="@name"/>
    
    <input type="submit" value="Search" class="btn btn-success" />
    <input type="submit" value="Cancel" class="btn btn-outline-secondary" asp-action="index" asp-controller="Movies"/>
</form>
</div>
<br />
@if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-square-fill"></i>
        Add Movie
    </a>
}
<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> No Reports
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var Movie in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-2 " >
                                <img src="data:image\/*;base64,@(Convert.ToBase64String(Movie.Poster))" style="width:100%; height:100%; max-height:250px; min-height:250px;">
                            </div>
                            <div class="col-md-10 ">
                                <div class="card-body d-flex flex-column justfy-content-between h-100">
                                    <div>
                                        <h5 class="card-title">@Movie.Title (@Movie.Year)</h5>
                                        <p class="card-text text-justify">@(Movie.StoryLine.Length>500? $"{Movie.StoryLine.Substring(0,500)}...": Movie.StoryLine)</p>
                                    </div>
                                    <div class="d-flex justify-content-between" style="margin-top:auto;">
                                        <p class="card-text mb-0 mt-2">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <small class="text-body-secondary">
                                                @Movie.rate.ToString("0.0")
                                            </small>
                                        </p>
                                        <div>
                                            <a asp-action="Details" asp-route-id="@Movie.Id" class="btn btn-outline-secondery">
                                                <i class="bi bi-camera-reels"></i>
                                                Details
                                            </a>
                                            @if (User.IsInRole("Admin") == true)
                                            {
                                                <a asp-action="Edit" asp-route-id="@Movie.Id" class="btn btn-outline-primary">
                                                    <i class="bi bi-pencil"></i>
                                                    Edit</a>

                                                <a href="javascript:;" class="btn btn-danger js-delete" data-id="@Movie.Id">
                                                    <i class="bi bi-trash"></i>
                                                    Delete
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this movie?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/movies/delete/' + btn.data('id'),
                                success: function () {
                                    var movieContainer = btn.parents('.col-12');
                                    movieContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        movieContainer.remove();
                                    }, 1000);

                                    toastr.success('Movies deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}
